<% var itemCounter = 0, programsStr = JSON.stringify(programs); %>

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Academic Calendar – Simon Fraser University</title>
        <link rel="stylesheet" type="text/css" href="../css/typography.css"/>
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/>

        <link rel="stylesheet" type="text/css" href="../css/superfish.css">

    </head>
    <body>

        <div id="header-navigation">

            <div id="calendar-header">

                <h1 class="header">
                    <span>Simon Fraser University</span>
                    Academic Calendar
                    <span>Spring 2013</span>
                </h1>

            </div> <!-- end calendar-header -->



            <div class="navigation">
                <div class="nav-group">
                    <ul>
                        <li class="nav-group-header">Courses</li>
                        <li><a href="#">Course descriptions and outlines</a></li>
                        <li><a href="#">View all SFU courses</a></li>
                        <li class="nav-group-header">Class schedules</li>
                        <li><a href="#">Classes and schedules<br /><span>(Student Information System)</span></a></li>
                        <li><a href="#">Undergraduate schedule [PDF]</a></li>
                        <li><a href="#">Graduate schedule [PDF]</a></li>
                    </ul>
                </div> <!-- end nav-group -->
                <div class="nav-group">
                    <ul>
                        <li class="nav-group-header">Information & Resources</li>
                        <li><a href="#">Faculties and research areas</a></li>
                        <li><a href="#">Information for students</a></li>
                        <li><a href="#">Academic Calendar archive</a></li>
                        <li><a href="#">Search the current Calendar</a></li>
                    </ul>
                </div> <!-- end nav-group -->
                <div class="program-search">
                    <form action="?" method="get">
                        <input type="text" class="search" />
                        <input type="submit" value="Submit" class="submit" />
                    </form>
                </div> <!-- end nav-group -->

            </div> <!-- end navigation -->


        </div> <!-- end header-navigation -->


    <!--    <div class="program-finder">
            <h2>Find a program</h2>
            <ul class="sf-menu">
                <li class="current">
                    <a href="#">Select an area of interest</a>
                    <ul>
                    <% for (var topLevelProgram in programs) { %>
                        <li>
                            <a href="#"><%= topLevelProgram %></a>
                            <ul>
                                <% programs[topLevelProgram].forEach(function(subjectArea) { %>
                                        <% if (Object.prototype.toString.call(subjectArea) !== '[object Object]') { %>
                                            <li>
                                                <a href="#"><%= subjectArea %></a>
                                            </li>
                                        <% } else { %>
                                            <% for (var subjectAreaName in subjectArea) { %>
                                                <li>
                                                    <a href="#"><%= subjectAreaName %></a>
                                                    <ul>
                                                        <% subjectArea[subjectAreaName].forEach(function(areaOfStudy) { %>
                                                            <li>
                                                                <a href="#"><%= areaOfStudy %></a>
                                                            </li>
                                                        <% }); %>
                                                    </ul>
                                                </li>
                                            <% } %>
                                        <% } %>
                                    <% }) %>
                            </ul>
                        </li>
                    <% } %>
                    </li>
                </ul>
        </div> -->

        <div id="container">

            <div class="program-finder">
                <h2>Find a program:</h2>
                    <div class="program-select">
                        <select name="selectLevel1" id="selectLevel1">
                            <option value="">Select an area of interest</option>
                            <% for (var topLevelProgram in programs) { %>
                                <option value="<%= topLevelProgram %>"><%= topLevelProgram %></option>
                            <% } %>
                        </select>
                        <select name="selectLevel2" id="selectLevel2">
                            <option value="">Select a topic area</option>
                        </select>
                        <select name="selectLevel3" id="selectLevel3">
                            <option value="">Select a program</option>
                        </select>
                    </div>
            </div> <!-- end program-finder -->


            <div class="program-toggle">
                <h2>Browse by area of interest:</h2>
                <% for (var topLevelProgram in programs) { %>
                    <div class="collection">
                        <h2><%= topLevelProgram %></h2>
                        <% programs[topLevelProgram].forEach(function(subjectArea) { %>
                            <% if (Object.prototype.toString.call(subjectArea) !== '[object Object]') { %>
                                <ul>
                                    <li><a href="#"><%= subjectArea %></a></li>
                                </ul>
                            <% } else { %>
                                <% for (var subjectAreaName in subjectArea) { %>
                                    <div class="toggle item<%= ++itemCounter %>"><a href="#"><%= subjectAreaName %></a></div>
                                    <ul class="toggleContent item<%= itemCounter %>">
                                        <% subjectArea[subjectAreaName].forEach(function(areaOfStudy) { %>
                                            <li><a href="#"><%= areaOfStudy %></a></li>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            <% } %>
                        <% }) %>
                    </div>
                <% } %>
            </div> <!-- end program-toggle -->

        </div> <!-- end container -->

    </body>

    <script id="programsJson"type="text/json"><%- programsStr %></script>

    <script src="../js/jquery-min.js"></script>
    <script src="../js/hoverIntent.js"></script>
    <script src="../js/superfish.js"></script>
    <script src="../js/toggle-content.js"></script>
    <script src="../js/select-builder.js"></script>

    <script>

    // initialise plugins
    jQuery(function(){
        jQuery('ul.sf-menu').superfish();
    });

    </script>

</html>